doctype html    
html
  head
    title Dance Club
    block scripts
    block style 
  body
    nav#navbar
        ul 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact]
            li #[a(href="/") Class Info.]
    block content
    footer 
        |   this web app is designed using pug ,express and other web tools.