doctype html    
html
    head 
        title Dance Club 
        style 
            include ../static/index.css
    body 
        nav#navbar
            ul 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Contact]
                li #[a(href="/") Class Info.]
        section#introSection
            div 
                h3 Welcome To The Aman's Dance Club
            div 
                h5 world best dancing club
        section#sponsorSection 
            div.sponsor 
                h1 Our Sponsors 
                div.images 
                    img(src="../static/apple.png", alt="")
                    img(src="../static/amazon.png", alt="")
                    img(src="../static/microsoft.png", alt="")
                    img(src="../static/google.png", alt="")  
        footer 
            | this web app is designed using pug ,express and other web tools.
        script 
            include ../static/index.js